In [28]:
# Первый шаг
# Импорт библиотек
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
# Загрузка данных из CSV-файлов
visits = pd.read_csv('visits_1k.csv')
regs = pd.read_csv('regs_1k.csv')

In [27]:
# Предварительный просмотр данных
print("Первые строки данных о посещениях:")
display(visits.head())

print("\nПервые строки данных о регистрациях:")
display(regs.head())

Первые строки данных о посещениях:

,uuid,platform,user_agent,date
0,1de9ea66-70d3-4a1f-8735-df5ef7697fb9,web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,2023-03-01T13:29:22
1,f149f542-e935-4870-9734-6b4501eaf614,web,Mozilla/5.0 (X11; CrOS x86_64 8172.45.0) Apple...,2023-03-01T16:44:28
2,f149f542-e935-4870-9734-6b4501eaf614,web,Mozilla/5.0 (X11; CrOS x86_64 8172.45.0) Apple...,2023-03-06T06:12:36
3,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,2023-03-01T20:16:37
4,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,2023-03-05T17:42:47

Первые строки данных о регистрациях:

,date,user_id,email,platform,registration_type
0,2023-03-01T00:25:39,8838849,joseph95@example.org,web,google
1,2023-03-01T14:53:01,8741065,janetsuarez@example.net,web,yandex
2,2023-03-01T14:27:36,1866654,robert67@example.org,web,google
3,2023-03-01T02:42:34,1577584,elam@example.net,web,apple
4,2023-03-01T10:27:14,4765395,stephanie68@example.net,web,yandex

In [13]:
# Информация о структуре данных

print("Информация о visits:")
visits.info()

print("\nИнформация о regs:")
regs.info()

Информация о visits:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   uuid        1000 non-null   object
 1   platform    1000 non-null   object
 2   user_agent  1000 non-null   object
 3   date        1000 non-null   object
dtypes: object(4)
memory usage: 31.4+ KB

Информация о regs:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               1000 non-null   object
 1   user_id            1000 non-null   int64
 2   email              1000 non-null   object
 3   platform           1000 non-null   object
 4   registration_type  1000 non-null   object
dtypes: int64(1), object(4)
memory usage: 39.2+ KB

In [14]:
# Уникальные значения

print("Уникальные значения в visits['platform']:", visits['platform'].unique())
print("Уникальные значения в regs['platform']:", regs['platform'].unique())
print("Типы регистрации в regs['registration_type']:", regs['registration_type'].unique())

Уникальные значения в visits['platform']: ['web' 'android' 'ios']
Уникальные значения в regs['platform']: ['web' 'android' 'ios']
Типы регистрации в regs['registration_type']: ['google' 'yandex' 'apple' 'email']

In [15]:
# Второй шаг
# Импорт нужных библиотек
import pandas as pd
import requests

In [16]:
# Диапазон дат
start_date = "2023-03-01"
end_date = "2023-09-01"

# URL для API
visits_url = f"https://data-charts-api.hexlet.app/visits?begin={start_date}&end={end_date}"
regs_url = f"https://data-charts-api.hexlet.app/registrations?begin={start_date}&end={end_date}"

In [17]:
# Запрос данных по визитам
visits_response = requests.get(visits_url)
visits_data = visits_response.json()
visits = pd.DataFrame(visits_data)

In [18]:
# Запрос данных по регистрациям
regs_response = requests.get(regs_url)
regs_data = regs_response.json()
regs = pd.DataFrame(regs_data)

In [19]:
# Первые строки
print("Посещения:")
display(visits.head())

print("Регистрации:")
display(regs.head())

Посещения:

,visit_id,platform,user_agent,datetime
0,1de9ea66-70d3-4a1f-8735-df5ef7697fb9,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,2023-03-01T10:36:22
1,f149f542-e935-4870-9734-6b4501eaf614,web,Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7...,2023-03-01T06:25:00
2,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1,web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,2023-03-01T10:26:13
3,19322fed-157c-49c6-b16e-2d5cabeb9592,web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,2023-03-01T12:33:06
4,04762a22-3c9f-40c9-9ac9-6628c4381836,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,2023-03-01T01:38:35

Регистрации:

,datetime,user_id,email,platform,registration_type
0,2023-03-01T07:40:13,2e0f6bb8-b029-4f45-a786-2b53990d37f1,ebyrd@example.org,web,google
1,2023-03-01T13:14:00,f007f97c-9d8b-48b5-af08-119bb8f6d9b6,knightgerald@example.org,web,email
2,2023-03-01T03:05:50,24ff46ae-32b3-4a74-8f27-7cf0b8f32f15,cherylthompson@example.com,web,apple
3,2023-03-01T00:04:47,3e9914e1-5d73-4c23-b25d-b59a3aeb2b60,halldavid@example.org,web,email
4,2023-03-01T18:31:52,27f875fc-f8ce-4aeb-8722-0ecb283d0760,denise86@example.net,web,google

In [20]:
# Проверка типов и структуры
print("Информация о visits:")
visits.info()

print("\nИнформация о regs:")
regs.info()

Информация о visits:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263459 entries, 0 to 263458
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   visit_id    263459 non-null  object
 1   platform    263459 non-null  object
 2   user_agent  263459 non-null  object
 3   datetime    263459 non-null  object
dtypes: object(4)
memory usage: 8.0+ MB

Информация о regs:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21836 entries, 0 to 21835
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           21836 non-null  object
 1   user_id            21836 non-null  object
 2   email              21836 non-null  object
 3   platform           21836 non-null  object
 4   registration_type  21836 non-null  object
dtypes: object(5)
memory usage: 853.1+ KB

In [21]:
# Проверика на кол-во строк
print("Количество строк в visits:", len(visits))
print("Количество строк в regs:", len(regs))

Количество строк в visits: 263459
Количество строк в regs: 21836

In [30]:
# Третий шаг
# Импорт библиотек
import pandas as pd
import requests

In [31]:
# Запрос данных
start_date = "2023-03-01"
end_date = "2023-09-01"

In [32]:
# URL для запросов
visits_url = f"https://data-charts-api.hexlet.app/visits?begin={start_date}&end={end_date}"
regs_url = f"https://data-charts-api.hexlet.app/registrations?begin={start_date}&end={end_date}"

In [33]:
# GET-запросы
visits_response = requests.get(visits_url)
regs_response = requests.get(regs_url)

In [34]:
# JSON в DataFrame
visits = pd.DataFrame(visits_response.json())
regs = pd.DataFrame(regs_response.json())

In [44]:
# Удаление ботов
visits_clean = visits[~visits['user_agent'].str.contains('bot', case=False)].copy()

In [45]:
# Преобразование в дату
visits_clean['date_group'] = pd.to_datetime(visits_clean['datetime']).dt.date
regs['date_group'] = pd.to_datetime(regs['datetime']).dt.date

In [50]:
# Удаление дубликатов по visit_id
visits_clean = visits_clean.drop_duplicates(subset='visit_id')

In [53]:
# Группировка визитов и рег-ий по дате и платформе
visits_grouped = visits_clean.groupby(['date_group', 'platform']).agg(
    visits=('visit_id', 'count')
).reset_index()

regs_grouped = regs.groupby(['date_group', 'platform']).agg(
    registrations=('user_id', 'count')
).reset_index()

In [54]:
# Объединение визитов и регистраций
conversion_df = pd.merge(visits_grouped, regs_grouped, how='left', on=['date_group', 'platform'])
conversion_df['registrations'] = conversion_df['registrations'].fillna(0).astype(int)

In [55]:
# Конверсия
conversion_df['conversion'] = (conversion_df['registrations'] / conversion_df['visits']) * 100

In [56]:
# Сортировка по дате
onversion_df = conversion_df.sort_values(by='date_group').reset_index(drop=True)

In [57]:
# Сохранение в JSON
conversion_df.to_json("conversion.json")

In [2]:
# Четвертый шаг
# Импорт библиотеки
import pandas as pd

In [4]:
# Загрузка датафрейма
conversion_df = pd.read_json("conversion.json")

In [5]:
# Загрузка данных о рекламе
ads = pd.read_csv("ads.csv")

In [6]:
# Преобразование даты
ads['date_group'] = pd.to_datetime(ads['date']).dt.date

In [7]:
# Группировка
ads_grouped = ads.groupby('date_group').agg(
    cost=('cost', 'sum'),
    utm_campaign=('utm_campaign', 'last')
).reset_index()

In [8]:
# Объединение с conversion_df
ads_merged = pd.merge(conversion_df, ads_grouped, how='left', on='date_group')

# Заполнение пропущенных значений
ads_merged['cost'] = ads_merged['cost'].fillna(0).astype(int)
ads_merged['utm_campaign'] = ads_merged['utm_campaign'].fillna('none')

In [9]:
# Сортировка по дате
ads_merged = ads_merged.sort_values(by='date_group').reset_index(drop=True)

In [10]:
# Сохранение
ads_merged.to_json("ads.json")